[submodule "ApiFaceCheck_Project"]
	path = ApiFaceCheck_Project
	url = git@github.com:and3510/ApiFaceCheck_Project.git



[submodule "MobileVisionApp_Project"]
	path = VisionApp_Mobile
	url = git@github.com:Cristovam10000/VisionApp.git
